{% for a in articles %}
    <div class="row">
        <div class="col">
            <div class="app-card app-card-chart h-100 shadow-sm">

                <div class="app-card-header p-3">
                    <div class="row justify-content-between align-items-center">

                        <div class="col-auto">
                            <img src="{{ a.urlToImage }}" class="card-img-top" alt="..."/>
                        </div><!--//col-->

                        <div class="col-auto">
                            <div class="card-header-action">
                                <h5 class="card-title"><a href="{{ a.url }}">{{ a.title }}</a></h5>
                            </div><!--//card-header-actions-->
                        </div><!--//col-->

                    </div><!--//row-->
                </div><!--//app-card-header-->

                <div class="app-card-body p-3 p-lg-4">
                    <div class="chart-container">
                        <p class="card-text"> {{ a.description }} </p>
                        <p class="card-text">
                            <small class="text-muted">{{ a.source.name }}</small>
                            <small class="text-muted">{{ a.publishedAt }}</small>
                        </p>
                    </div>
                </div><!--//app-card-body-->

            </div><!--//app-card-->
        </div>
    </div>
{% endfor %}