{% extends "base.html" %}
{% block title %}Stock details{% endblock title %}
{% block content %}

    <div class="app-content pt-3 p-md-3 p-lg-4"><!--//app-content-->
        <div class="container-xl"><!--//container-fluid-->
            <div class="row g-4 mb-4"><!-- main row -->

                <!-- left col -->
                <div class="col-12 col-lg-9">

                    <!-- graph and share price -->
                    {% include 'appStockTrade/company_share_details.html' %}

                    <!-- company summary -->
                    {% include 'appStockTrade/company_summary.html' %}

                </div><!-- // end left col -->

                <!-- right col company news -->
                <div class="col-12 col-lg-3">
                    {% include 'appStockTrade/company_news.html' %}
                </div><!-- // end right col -->

            </div><!--//main row-->
        </div><!--//container-fluid-->
    </div><!--//app-content-->




{% endblock content %}