{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <h1 class="app-page-title">Overview</h1>
            <hr>

            <!-- Top row with 4 small columns -->
            {% include 'appUsers/home_partial_row1.html' %}

            <!-- second row with charts -->
            <div class="row g-4 mb-4">

                <!-- Account activity  chart -->
                {% include 'appUsers/home_partial_account_activity.html' %}

                <!-- Profit Loss chart-->
                {% include 'appUsers/home_partial_profit_loss_chart.html' %}

            </div><!--//row-->

            <!-- Third row - orders and positions -->
            <div class="row g-4 mb-4">

                <!-- Orders -->
                {% include 'appUsers/home_partial_orders.html' %}

                <!-- Positions -->
                {% include 'appUsers/home_partial_positions.html' %}

            </div><!--//row-->

            <!-- 4th row -->
            <div class="row g-4 mb-4">
                {% include 'appUsers/home_partial_row4.html' %}<hr>
            </div><!--//row-->

        </div><!--//app-content-->
    </div><!--//app-wrapper-->

    <script>
        let data ={{ chartJSON | safe }};
        const ctx = document.getElementById("myChart").getContext('2d');
        const myChart = new Chart(ctx, data);

        let data2 ={{ chartJSON2 | safe }};
        const ctx2 = document.getElementById("myChart2").getContext('2d');
        const myChart2 = new Chart(ctx2, data2);
    </script>

{% endblock content %}