<!-- ///////////////////////////////// first column ////////////////////////////////////////////////-->
<div class="col-12 col-lg-4">
    <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
        <div class="app-card-header p-3 border-bottom-0">
            <div class="row align-items-center gx-3">
                <div class="col-auto">
                    <div class="app-icon-holder"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
                </div>
                <div class="col-auto">
                    <h4 class="app-card-title">Reset</h4>
                </div>
            </div>
        </div>
        <div class="app-card-body px-4">
            <div class="intro">All positions and outstanding orders will be lost. Balance will be restored to 100000 USD.</div>
        </div>

        <div class="app-card-footer p-4 mt-auto">
            <a class="btn app-btn-secondary" href="#">Reset</a>
        </div>

    </div>
</div>

<!-- ///////////////////////////////// cancel open orders //////////////////////////////////////////-->
<div class="col-12 col-lg-4">
    <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
        <div class="app-card-header p-3 border-bottom-0">
            <div class="row align-items-center gx-3">

                <div class="col-auto">
                    <div class="app-icon-holder"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
                </div>

                <div class="col-auto">
                    <h4 class="app-card-title">Cancel Open Orders</h4>
                </div>

            </div>
        </div>

        <div class="app-card-body px-4">
            <div class="intro">This will cancel all open orders with status "New" or "Partially Filled".</div>
        </div>

        <div class="app-card-footer p-4 mt-auto">
            <a class="btn app-btn-secondary" href="#" onclick="return confirm('Are you sure you want to delete product?')">Cancel All</a>
        </div>

    </div>
</div>

<!-- ///////////////////////////////// liquidate position //////////////////////////////////////////-->
<div class="col-12 col-lg-4">
    <div class="app-card app-card-basic d-flex flex-column align-items-start shadow-sm">
        <div class="app-card-header p-3 border-bottom-0">
            <div class="row align-items-center gx-3">

                <div class="col-auto">
                    <div class="app-icon-holder"><i class="fa fa-exclamation-triangle" ></i></div>
                </div>

                <div class="col-auto">
                    <h4 class="app-card-title">Liquidate</h4>
                </div>

            </div>
        </div>

        <div class="app-card-body px-4">
            <div class="intro">Orders will be placed for any assets owned to be sold.</div>
        </div>

        <div class="app-card-footer p-4 mt-auto">
            <a class="btn app-btn-secondary" href="#">Liquidate all</a>
        </div>
    </div>
</div>

</div><!--// end 4th row-->