{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <title>register</title>
    <style>

        body {height: 100vh; }

        .form-control, input { line-height: 2; width: 100% ;}

        .mb-3{}

        .bg-custom { background-color: #000000;}

        .btn-custom, .messages { background-color: #000000; color: #fff;}

        .btn-custom:hover { background-color: #e11f3f; color: #fff;}

        label, p { color: #fff;}

        a, a:hover { color: #fff; text-decoration: none;}

        a, a:hover { text-decoration: none; }

        img { display: block; margin-left: auto; margin-right: auto; width: 50%;}


    </style>
</head>

<body>

    <div class="row m-0 h-100">
            <div class="col p-0 bg-custom d-flex justify-content-center align-items-center flex-column w-100">

                <!-- logo-->
                <div class="mb-3"><img src="{% static 'appStockTrade/images/logo.png' %}"/></div>


            <form class="w-75" action="{%  url 'appUsers-register' %}" method="POST">
                {% csrf_token %}
                <div class="messages">{{ form.errors }}</div>
                <!-- Email input-->
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <div class="mb-3">
                    {{ form.email }}
                </div>

                <!-- Username input-->
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <div class="mb-3">
                    {{ form.username }}
                </div>


                <!-- Password input-->
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Password</label>
{#                    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Password" required>#}
                    {{ form.password1 }}
                </div>

                <!-- Repeat pssword input-->
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Repeat Password</label>
{#                    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Repeat password" required>#}
                    {{ form.password2 }}
                </div>

                <!-- Broker input-->
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Broker</label>
                    {{ form.broker }}
                </div>

                <!-- API key-->
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Api key</label>
{#                    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Api key" required>#}
                    {{ form.api_key }}
                </div>

                 <!-- Secret key-->
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Secret key</label>
{#                    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Secret key" required>#}
                    {{ form.secret_key }}
                </div>

                <!-- Login button-->
                <button type="submit" class="btn btn-custom btn-lg btn-block mt-3">Register</button>

                <!-- Register link-->
                <div class="row">
                    <div class="col">
                        <br><a href="{% url 'appUsers-login_page' %}"><p class="form-check-label" style="text-align: center">Login</p></a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>

</html>