
<!-- footer -->
<footer class="bg-secondary text-white text-center text-lg-start" >
  <div class="container p-4">
    <div class="row">

        <h5 class="text-uppercase">Powered by</h5>
        <table style="border-collapse: collapse; border: none; text-align: left;">
            <tr style="border: none;">
                <td style="border: none;">
                    <img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" alt="Django" width="30" height="30">
                    <a href="https://www.djangoproject.com/" class="text-white" target="_blank">Python</a>
                </td>
                <td style="border: none;">
                      <img src="https://icon-library.com/images/django-icon/django-icon-0.jpg" alt="Alpaca" width="30" height="30">
                      <a href="https://www.djangoproject.com/" class="text-white" target="_blank">Django</a>
                </td>
                <td style="border: none;">
                    <img src="https://e7.pngegg.com/pngimages/14/568/png-clipart-angularjs-logo-javascript-security-token-angle-triangle.png" alt="AngularJS" width="30" height="30">
                    <a href="https://angularjs.org/" class="text-white" target="_blank">Angularjs</a>
                </td>
                <td style="border: none;">
                    <img src="https://cdn.iconscout.com/icon/free/png-256/bootstrap-7-1175254.png" alt="Bootsrap" width="30" height="30">
                    <a href="https://getbootstrap.com/" class="text-white" target="_blank">Bootsrap</a>
                </td>
                   <td style="border: none;">
                    <img src="https://www.statsmodels.org/v0.12.0/_images/statsmodels-logo-v2-no-text.svg" alt="Statsmodels" width="30" height="30">
                    <a href="https://www.statsmodels.org/stable/index.html" class="text-white" target="_blank">Statsmodels</a>
                </td>
            </tr>

            <tr style="border: none;">
                <td style="border: none;">
                      <img src="https://alpaca.markets/learn/content/images/2020/03/alpaca_icon@2x-1.png" alt="Alpaca" width="30" height="30">
                        <a href="https://alpaca.markets" class="text-white" target="_blank">Alpaca broker</a>
                </td>
                <td style="border: none;">
                    <img src="https://img.stackshare.io/service/3012/preview.png" alt="Bokeh" width="30" height="30">
            <a href="http://docs.bokeh.org/en/0.12.5/docs/reference/charts.html" class="text-white" target="_blank">Bokeh charts</a>
                </td>
                <td style="border: none;">
                    <img src="https://avatars.githubusercontent.com/u/10342521?s=280&v=4" alt="ChartsJs" width="30" height="30">
            <a href="https://www.chartjs.org/" class="text-white" target="_blank">Charts JS library</a>
                </td>
                <td style="border: none;">
                     <img src="https://s.yimg.com/cv/apiv2/myc/finance/Finance_icon_0919_250x252.png" alt="Yahoo" width="30" height="30">
                    <a href="#!" class="text-white" target="_blank">Yahoo Finance</a>
                </td>
                 </td>
                   <td style="border: none;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Keras_logo.svg/1200px-Keras_logo.svg.png" alt="Keras" width="30" height="30">
                    <a href="https://keras.io/" class="text-white" target="_blank">Keras</a>
                </td>
            </tr>
        </table>




    </div>

  </div>



  <div class="bg-dark  text-center p-3" style="background-color: rgba(0, 0, 0, 0.1)">
    © 2021 Copyright:
    <a class="text-white">Tomas Bunevicius</a>
  </div>


</footer>